.homepage-container {
    text-align: center;
    padding: 60px 0 0 0;
    text-align: center;
    color: white;

    input[type="text"] {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid gray;
        border-radius: 4px;
    }
}

.player {
    border: 1px white solid;
    width: 500px;
    height: 300px;
    margin: auto;
}
