.homepageContainer {
    // background-color: salmon;
    color: black;
    width: 1200px;
    margin: auto;

    .borderShadow {
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
    }

    .playerContainer {
        color: #fff;
        grid-area: header;
        display: flex;
        background: rgb(29, 42, 60);

        .player {
            width: 50%;
            height: 100%;
            margin: auto;
            text-align: center;
            padding: 0 0 20px 0;
        }

        .rank {
            width: 50%;
            text-align: center;

            img {
                padding: 15px 0 0 0;
                width: 100px;
            }
        }
    }

    .mainContainer {
        margin-top: 10px;
        display: flex;
        width: 1200px;

        .matchesContainer {
            width: 65%;
            margin: 10px 10px 10px 0;
        }

        .sidebarContainer {
            width: 35%;
            margin: 10px 0 0 10px;
        }
    }
}

.red {
    background-color: red;
}
