.homepageContainer {
    // background-color: salmon;
    color: black;
    width: 1200px;
    margin: auto;
}

.red {
    background-color: red;
}

.matchesContainer {
    width: 65%;
    margin: 10px 10px 10px 0;
}

.sidebarContainer {
    width: 35%;
    margin: 10px 0 0 10px;
}

.borderShadow {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
}

.mainContainer {
    margin-top: 10px;
    display: flex;
    width: 1200px;
}
