.landing {
    background: linear-gradient(to bottom, #000000ef, #d723236e),
        url("../../imgs/landing.jpg") no-repeat;
    height: 100vh;
    text-align: center;
    color: #f5eded;
    padding-top: 5rem;

    &__heading {
        margin: 0;
        font-size: 10rem;
        letter-spacing: 0.4rem;

        &--two {
            color: #d72323;
        }
    }

    &__form {
        margin: 0 auto;
        width: 40rem;

        &__input {
            margin: 2rem auto;
            padding: 0.8rem;
            // height: 4rem;
            width: 100%;
            border: none;
            border-radius: 0.9rem;
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.1rem;
        }

        &__button {
            letter-spacing: 0.1rem;
            color: #fff;
            margin: -1rem auto;
            padding: 1.2rem 2rem;
            width: 15rem;
            border: none;
            background-color: #d72323;
            border-radius: 10rem;
            font-size: 1.6rem;

            &:hover {
                background-color: #1b608f;
            }
        }
    }
}
