header {
    width: 100%;
    text-align: center;
    nav {
        padding: 0;
        margin: auto;
        color: white;
        height: 60px;
        list-style-type: none;
        border-bottom: 1px white solid;

        a:link {
            text-decoration: none;
            height: 60px;
            margin: 0 2px 0 2px;
        }

        a:visited {
            text-decoration: none;
            color: white;
        }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            text-decoration: underline;
        }
    }
}
