table {
    letter-spacing: 0.5px;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 100%;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.16);

    tbody {
        margin: 0 0 20px 0;
        background: rgb(29, 42, 60);
    }

    th {
        font-weight: 200;
        padding: 15px;
        margin: 0;
        background: rgb(29, 42, 60);
        font-size: 12px;
        border-bottom: 1px solid rgb(41, 53, 70);
    }

    tr {
        border-bottom: 1px solid rgb(41, 53, 70);
        font-weight: 200;
        background: rgb(29, 42, 60);
        font-size: 13px;
        margin: 0;

        &:hover {
            background: rgb(34, 48, 68);
            opacity: 0.9;
        }
    }

    td {
        padding: 15px 0 15px 0px;
        margin: 0;
    }
}
